html {
  font-family: "Scope One", sans-serif;
  background-color: #2d2d2d;
  background-image: url("img/3px-tile.png");
  background-repeat: repeat;
  color: whitesmoke;
}

/* ID selectors */
#floater {
  position: absolute;
  padding: 5px 10px;
  top: 0;
  left: 0;
  z-index: 100;
}

#main {
  margin: auto;
  margin-right: 0;
  height: 90%;
  width: 80%;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: repeat;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  animation: slideInRight 1s linear;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

#main_nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 175px;

  ul {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      text-align: left;
      margin: 0 10px;
      cursor: pointer;
    }

    li:hover {
      color: goldenrod;
    }

    .about_link, .project_link, .home_link {
      opacity: 0;

      &.active {
        color: goldenrod;
      }
    }

    .about_link {
      animation: slideInLeft 0.5s linear;
      animation-delay: 0;
      animation-fill-mode: forwards;
    }

    .project_link {
      animation: slideInLeft 0.5s linear;  
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }

    .home_link {
      animation: slideInLeft 0.5s linear;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
  }
}

/* Element selectors */
a {
  color: goldenrod;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 95vh;
  overflow-x: hidden;
  min-height: 750px;
}

em {
  color: goldenrod;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #00010b;
  width: 100vw;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 1px 5px;
  font-size: 28px;

  animation: fadeIn 3s;
}

h4 {
  font-weight: bold;
}

h5 {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 200;
  text-align: right;

  animation: fadeIn 3s;
}

/* Class selectors */

.about_tab, .project_tab, .home_tab {
  /* border: 1px solid red; */
  padding: 5px;
  width: 100%;
  animation: slideInRight 0.5s linear;

  &:not(.active) {
    display: none;
  }

  p {
    margin-left: 10px;
  }
}

.about_tab {
  height: 100%;
}

.blurb {
  max-width: 800px;
  margin: 20px auto;
  text-indent: 15px;
}

.contact_holder {
    display: flex;
    width: 25%;

    .contact {
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: #181a30;
      border-radius: 5px;
      margin: 3px;
      animation: bounceIn 0.5s;

      &.delay_1 {
        animation-delay: 0.25s;
      }

      &.delay_2 {
        animation-delay: 0.5s;
      }
    
    .emblem {
      cursor: pointer;
    }
  }
}

.email, .github, .discord {
  transition: width 1s;
  font-size: 0.6em;
  overflow: hidden;
  margin:auto 0;
  width: 0;
  cursor: pointer;
}

.email.show {
  width: 132px;
}

.discord.show, .github.show {
  width: 60px;
}

.emblem_holder {
  display: inline-flex;
  padding: 4px;
  align-items: center;
  justify-content: end;
} 

.emblem {
  height: 22px;
  width: 22px;
  border-radius: 25%;
  margin: 3px 5px;
}

.home_slider {
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 260px;

  .slide {
    height: 55%;
    width: auto;
    border-radius: 25px;
    margin: 10px;
  }

  .slide:not(.active) {
    height: 25%;
    filter:blur(2px);
  }
}

.icon {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  overflow: hidden;
}

.slide {
  cursor: pointer;
  transition: height 1s;
}

.spacer {
  width: 25%;
}

/* animations */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideInLeft {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}

@keyframes slideInRight {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}

@keyframes bounceIn {
  0% { transform: translateY(0%)}
  50% { transform: translateY(-20%)}
  90% { transform: translateY(20%)}
  100% { transform: translateY(0%)}
}

@media only screen and (max-width: 850px) {
  .contact {
    z-index: 101;
  }

  #floater {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.9);
  }

  #main_nav {
    align-items: end;
    padding-right: 10px;
    ul {
      li {
        text-align: right;
      }
    }
    
  }

  #main {
    width: 95%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    backdrop-filter: blur(1px);
  }

  body {
    width: 100vw;
    min-height: 90vh;
    height: auto; 
  }

  .home_slider {
    .slide {
      animation: fadeIn 2s;
      height: 80%;

      &:not(.active) {
        display: none;
      }
    }
  }
  
}