html {
  font-family: "Scope One", sans-serif;
  background-color: #2d2d2d;
  background-image: url("img/3px-tile.png");
  background-repeat: repeat;
  color: whitesmoke;
}

/* ID selectors */
#floater {
  position: absolute;
  padding: 5px 10px;
  top: 0;
  left: 0;
  z-index: 100;
}

#main {
  margin: auto;
  margin-right: 0;
  height: 90vh;
  width: 85vw;
  opacity: 0;

  background-color: #00010b;
  background-image: url('img/concrete-wall.png');
  background-repeat: repeat;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  animation: slideInRight 1s linear;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

#main_nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 175px;

  ul {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      text-align: left;
      margin: 0 10px;
      cursor: pointer;
    }

    li:hover {
      color: goldenrod;
    }

    .about_link, .project_link, .home_link {
      opacity: 0;

      &.active {
        color: goldenrod;
      }
    }

    .about_link {
      animation: slideInLeft 0.5s linear;
      animation-delay: 0;
      animation-fill-mode: forwards;
    }

    .project_link {
      animation: slideInLeft 0.5s linear;  
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }

    .home_link {
      animation: slideInLeft 0.5s linear;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
  }
}

/* Element selectors */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 95vh;
  overflow-x: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #00010b;
  width: 100vw;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 1px 5px;
  font-size: 28px;

  animation: fadeIn 3s;
}

h4 {
  font-weight: bold;
}

h5 {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 200;
  text-align: right;

  animation: fadeIn 3s;
}

/* Class selectors */
.about_tab, .project_tab {
  display: none;
}

.about_tab, .project_tab, .home_tab {
  /* border: 1px solid red; */
  padding: 5px;
  width: 100%;

  p {
    margin-left: 10px;
    text-indent: 10px;
  }
}

.contact_holder {
    display: flex;
    width: 25%;

    .contact {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #181a30;
    border-radius: 5px;
    margin: 3px;

    .emblem {
      cursor: pointer;
    }
  }
}

.email, .github {
  transition: width 1s;
  font-size: 0.6em;
  overflow: hidden;
  width: 0;
  cursor: pointer;
}

.emblem_holder {
  display: inline-flex;
  padding: 4px;
  align-items: center;
  justify-content: end;
} 

.emblem {
  height: 22px;
  width: 22px;
  border-radius: 25%;
  margin: 3px 5px;
}

.home_slider {
  /* border: 1px solid yellow; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  .slide {
    height: 250px;
    width: auto;
    border-radius: 25px;
  }

  .slide:not(.active) {
    height: 125px;
    filter:blur(2px);
  }
}

.icon {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  overflow: hidden;
}

.show {
  width: 132px;
}

.spacer {
  width: 25%;
}

/* animations */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideInLeft {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}

@keyframes slideInRight {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}

@keyframes bounceIn {
  0% { transform: translateY(-100%)}
  50% { transform: translateY(50%)}
  100% { transform: translateY(0%)}

}

@media only screen and (max-width: 750px) {
  header {
    .header_container {
      width: 100%;
    }
  }
  .contact {
    z-index: 101;
  }

  #main {
    width: 96vw;
    align-items: end;
  }

  #nav_menu_btn {
    display: block;
  }

  .slide {
    height: auto;
    max-width: 80%;
    animation: fadeIn 2s;

    &:not(.active) {
      display: none;
    }
  }
}