html {
  font-family: "Scope One", sans-serif;
  background: linear-gradient(135deg, var(--secondary-color), black);
  --main-color: #030e2c;
  --secondary-color: #000427;
  --tertiary-color: #1e235e;
  --highlight-color: #03a8c5;
  line-height: 2em;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ID Selectors */
#my_modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 10;
}

#modal_content {
  background-color: var(--secondary-color);
  position: fixed;
  max-height: 95vh;
  width: 750px;
  max-width: 98vw;
  box-shadow: -2px 4px 4px var(--tertiary-color);
}

/* Element Selectors */
a.myanchor {
  color: whitesmoke;
}

a.myanchor:hover {
  color: var(--highlight-color);
}

body.custom {
  color: whitesmoke;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: unset;
}

em {
  color: var(--highlight-color);
}

.section_header {
  animation: fadeIn 5s;
}

h4.tag, h3.tag {
  border: 2px solid var(--main-color);
  width: 50px;
  padding: 4px 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: -2px 4px 4px var(--tertiary-color);
  transform: rotate(-15deg);
}

/* Class Selectors */
.contact_holder {
  display: flex;
  width: 25%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  margin: 3px;
  animation: bounceIn 0.5s;
}

.contact.delay_1 {
  animation-delay: 0.25s;
}

.contact.delay_2 {
  animation-delay: 0.5s;
}

.contact .emblem {
  cursor: pointer;
}

.date {
  text-align: end;
}

.email, .github, .discord {
  transition: width 0.5s;
  font-size: 0.8em;
  overflow: hidden;
  margin: auto 0;
  width: 0;
  cursor: pointer;
}

.email.show {
  width: 140px;
}

.discord.show, .github.show {
  width: 60px;
}

.emblem_holder {
  display: inline-flex;
  padding: 4px;
  align-items: center;
  justify-content: end;
}

.emblem {
  height: 28px;
  width: 28px;
  border-radius: 25%;
  margin: 3px 5px;
}

.exit_button {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 25px;
  width: 25px;
}

.exit_button:hover {
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
  cursor: pointer;
}

.highlights {
  width: 100%;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.highlight_image {
  height: auto;
  max-width: 75%;
}

.icon {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  overflow: hidden;
}

.image_holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left_side {
  max-width: 450px !important;
}

.main {
  min-height: 90vh;
  max-width: 1300px;
}

.my_header {
  border-bottom: 1px solid var(--highlight-color);
  background-color: var(--secondary-color);
  z-index: 20;
  width: 100%;
}

.mycard_holder {
  display: flex;
  flex-direction: column;
  height: 700px;
  max-width: 700px !important;
  overflow-y: auto;
}

.mycard {
  max-width: 600px;
  float: right;
  padding: 8px;
  border-radius: 5px;
}

.mycard.open {
  background-color: rgba(75, 75, 75, 0.1);
  box-shadow: -2px 2px 2px var(--tertiary-color);
}

.mycard.open:hover {
  background-color: rgba(75, 75, 75, 0.2);
  cursor: pointer;
}

.notice {
  font-size: 0.75rem;
  color: yellow;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  90% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Media Queries */
@media only screen and (max-width: 450px) {
  .mycard_holder {
    max-height: unset;
    height: auto;
  }

  #main, body.custom {
    max-height: unset;
    height: auto;
    overflow-y: auto;
  }

  .highlight_image {
    max-width: 99%;
  }

  #modal_content {
    max-height: 80vh;
  }
}
